.modal {
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);

	.container {
		flex-shrink: 1;
		flex-direction: column;
		border-radius: 14px;
		height: 650px;
		min-width: 600px;
		min-height: 400px;
		max-width: 80vw;
		max-height: 90vh;
		background-color: rgba(255, 255, 255, 1);

		.header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 10px 10px 0 10px;

			.close {
				display: flex;
				height: 30px;
				width: 50px;
			}
		}
	}
}

.displayBlock {
	display: flex;
}

.displayNone {
	display: none;
}
