.tweet_extension {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tweet_extension .tweet_extension-icon_container {
    display: flex;
    margin-right: 10px;
}

.tweet_extension span {
    color: rgb(101, 119, 134);
}

.reply.tweet_extension:hover span {
    color: rgb(29, 161, 242);
}

.reply.tweet_extension:hover path {
    fill: rgb(29, 161, 242);
}

.retweet.tweet_extension:hover span {
    color: rgb(23, 191, 99);
}

.retweet.tweet_extension:hover path {
    fill: rgb(23, 191, 99);
}

.like.tweet_extension:hover span {
    color: rgb(226, 36, 94);
}

.like.tweet_extension:hover path {
    fill: rgb(226, 36, 94);
}