.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    height: 100%;
}

.header > div {
    justify-content: space-between;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    height: 100%;
    width: 275px;
    padding-right: 10px;
    padding-left: 10px;
}

.header .header_home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header .header_button-container {
    width: 90%;
    height: 49px;
    margin-top: 15px;
    margin-bottom: 15px;
}