.input {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 248, 250);
    border: none;
    border-bottom: 2px solid rgb(101, 119, 134);
    border-radius: 2px;
}

.input:focus-within {
    border-bottom-color: #1da1f2;

}

.input_container {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}

.input_text {
    display: flex;
    align-self: flex-start;
    font-weight: 400;
    color: rgb(101, 119, 134);;
    font-size: 15px;
    padding: 5px 10px 0px 10px;
}

.input:focus-within .input_text {
    color: #1da1f2;
}

.input_value {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
}

.input_value input {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    font-size: 19px;
    font-weight: 400;
    color: rgb(20, 23, 26);
    padding: 2px 10px 5px 10px;
    outline-style: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}