.rightSection {
	composes: scrollbar from '../../scss/Common.module.scss';
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 350px;
	height: 100%;
	overflow-y: auto;
	overflow-x: none;

	> div {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 100%;

		.searchContainer {
			display: flex;
			align-items: center;
			height: 53px;
			margin-bottom: 10px;
		}
	}
}
