.right_section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 350px;
    height: 100%;
    overflow-y: auto;
    overflow-x: none;
}

.right_section > div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.right_section .search_container {
    display: flex;
    align-items: center;
    height: 53px;
    margin-bottom: 10px;
}

.right_section::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.right_section::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.right_section::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}