.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 161, 242);
    border-radius: 9999px;
    cursor: pointer;

    span {
        font-size: 15px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    &:hover {
        background-color: rgb(26, 145, 218);
    }

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.disabled:hover {
        background-color: rgb(29, 161, 242);
    }
}




