.happeningCard {
    position: relative;
    border-bottom-color: rgb(230, 236, 240);
    border-bottom-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.happeningCard:hover {
    background-color: rgba(0,0,0,0.03);
}

.happeningCard a {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    outline-style: none;
    cursor: pointer;
    text-decoration: none;
}

.happeningCard .happeningCard_text-container {
    margin-right: 10px;
    display: flex;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
}

.happeningCard .happeningCard_text-container .happeningCard_category {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-direction: row;
}

.happeningCard_category .happeningCard_trend-type {
    line-height: 20px;
    font-size: 13px;
    color: rgb(101, 119, 134);
    font-weight: 400;
}

.happeningCard_category .happeningCard_dot {
    color: rgb(101, 119, 134);
    font-weight: 400;
    flex-shrink: 0;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.happeningCard_category .happeningCard_time-place {
    line-height: 20px;
    font-size: 13px;
    color: rgb(101, 119, 134);
    font-weight: 400;
}

.happeningCard .happeningCard_text-container .happeningCard_main {
    display: inline;
    color: rgb(20, 23, 26);
    font-weight: bold;
    font-size: 15px;
    margin: 2px 0 2px 0;
}

.happeningCard_picture-container {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: rgb(204, 214, 221);
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.happeningCard_picture-container div {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.happeningCard_picture-container img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

