.grouper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-basis: auto;
	position: relative;
	margin-bottom: 15px;
	border-radius: 14px;
	border: 1px solid rgb(245, 248, 250);
	background-color: rgb(245, 248, 250);

	.header {
		display: block;
		box-sizing: border-box;
		position: relative;
		border: none;
		border-bottom: 1px solid rgb(230, 236, 240);

		.inner {
			display: flex;
			justify-content: space-between;
			padding: 10px 15px;

			h2 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				margin: 0;

				text {
					color: rgb(20, 23, 26);
					font-weight: 800;
					font-size: 19px;
				}
			}
		}
	}

	div:last-child {
		border-bottom: none;
	}
}
