.home {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 15px; 
    padding-right: 15px;
}

.home h2 {
    display: flex;
    flex-grow: 1;
    color:rgb(20, 23, 26);
    font-size: 19px;
    font-weight: 800;
}