.tweet {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid rgb(230, 236, 240);
    cursor: pointer;
}

.tweet:hover {
    background-color: rgb(245, 248, 250);
}

.tweet_profile-picture {
    flex-basis: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 5px 0px 5px;
}

.tweet_profile-picture img {
    height: 49px;
    width: 49px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tweet_content-container {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.tweet_user-container {
    display: flex;
    flex-flow: row nowrap;
}

.tweet_user_name {
    color: rgb(20, 23, 26);
    font-size: 15px;
    font-weight: bold;
}

.tweet_user_name:hover {
    text-decoration: underline;
}

.tweet_user_tag {
    color: rgb(101, 119, 134);
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}

.tweet_interact-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 425px;
    margin-top: 10px;
}

.tweet_interact-container div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tweet_interact-container div div {
    margin-right: 10px;
}