.dashboard {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
}

.banner {
    display: flex;
    height: 100%;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: auto;
    position: relative;
}

.banner .banner_container {
    display: flex;
    position: relative;
    width: 990px;
    height: 100%;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}

.banner .banner_container .banner_divider {
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
}