.dashboard {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

.left_section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    flex-grow: 1;
    height: 100%;
}

.left_section > div {
    height: 100%;
    width: 235px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
}

.left_section .left_section_home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.left_section .left_section_button-container {
    width: 90%;
    height: 49px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.center_section {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    height: 100%;
    width: 617px;
    max-width: 617px;
    border-left: 1px rgb(230, 236, 240) solid;
    border-right: 1px rgb(230, 236, 240) solid;
}

.center_section .home_container {
    display: flex;
    align-items: center;
    height: 53px;
    border-bottom: 1px rgb(230, 236, 240) solid;
    color:rgb(20, 23, 26);
    font-weight: 800;
    font-size: 19px;
    padding-left: 15px; 
    padding-right: 15px;
}

.center_section .editor_container {
    height: 118px;
    border-bottom: 1px rgb(230, 236, 240) solid;
}

.right_section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
    padding-left: 30px;
}

.right_section .search_container {
    display: flex;
    align-items: center;
    width: 350px;
    height: 53px;
    margin-bottom: 10px;
}

.separator {
    height: 10px;
    background-color: rgb(230, 236, 240);
}